<pep-page-layout [addPadding]="true">
    <ng-container pep-top-area>
        <pep-top-bar title="Configuration Assistant">
        </pep-top-bar>
    </ng-container>

    <ng-container pep-main-area>
        <div class="pageExplanation">
            <span class="body-md">{{ 'SUBTITLE1' | translate }}</span>
            <span class="body-md">{{ 'SUBTITLE2' | translate }}</span>
        </div>
        <div *ngIf="!dataIsIndexedFlag">
            <pep-top-bar title="Index your data">
            </pep-top-bar>
            <div class="pageExplanation">
                <span class="body-md">{{ 'SUBTITLE3' | translate }}</span>
            </div>
            <div class="goToButton">
            <pep-button
                [sizeType]="'md'"
                [value]="'Go to Data Index settings' | translate"
                [styleType]="'strong'" 
                (buttonClick)="navigateToDataIndexSettings()"
            ></pep-button>
            </div>
            <div class="pageExplanation">
                <span class="body-md">{{ 'SUBTITLE4' | translate }}</span>
                <span class="body-md">{{ 'LINE1' | translate }}</span>
                <span class="body-md">{{ 'LINE2' | translate }}</span>
                <span class="body-md">{{ 'LINE3' | translate }}</span>
                <span class="body-md">{{ 'LINE4' | translate }}</span>
            </div>
        </div>
        <div *ngIf="dataIsIndexedFlag">
            <!-- <pep-top-bar title="Slugs & pages to Create">
            </pep-top-bar>
            <div class="pageExplanation">
                <span class="body-md">{{ 'SUBTITLE5' | translate }}</span>
            </div>
            <pep-textbox
                [(value)]="configuration.genericSlug"
                [label]="'Generic dashboard slug' | translate"
                type="text"
                class="goToButton"
                [mandatory]="true"
                [disabled]="false">
            </pep-textbox> -->
            <pep-generic-form class="generic-form"
                [title] = "'edit' | translate"
                [showTopBar]="false"
                [dataSource]="dataSource"
                [dataView]="dataView"
                [inline]="true">
            </pep-generic-form>
        </div>
    </ng-container>

</pep-page-layout>

<pep-size-detector></pep-size-detector>